
.env
*.env
pgdata/
.docker/
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.venv/
venv/
ENV/
build/
dist/
*.egg-info/


bin/

*.out
*.test
vendor/
.idea/
.vscode/
*.swp
*.swo
.DS_Store
Thumbs.db
BetterMe Test-Input.csv
geo_data/*.log